body {
  background-color: #e0e8ff;
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 1440px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  color: #7280a7;
  color: hsl(224, 23%, 55%);
  text-align: center;
}

h1 {
  color: #1f2f56;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

h3 {
  color: #1f2f56;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  margin-bottom: 0;
}

h4 {
  color: #1f2f56;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

.main {
  background-color: #f5f7ff;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  width: 432px;
  margin: 100px auto 100px auto;
  padding-bottom: 20px;
  box-shadow: 0 10px 10px -4px #7280a7;
}

.header-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}

.summary {
  width: 346px;
  margin: auto;
  line-height: 1.5;
}

.plan {
  background-color: #e0e8ff;
  background-color: hsl(225, 100%, 94%);
  border-radius: 15px;
  display: flex;
  width: 346px;
  margin: 30px auto;
}

.music-icon {
  flex: 1;
  margin: auto 10px auto 10px;
}

.plan-type {
  flex: 2;
  text-align: left;
}

.price {
  margin-top: 0;
}

.change {
  flex: 2;
  margin: auto;
  color: #3829e0;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.payment {
  background-color: #3829e0;
  background-color: hsl(245, 75%, 52%);
  border-radius: 15px;
  width: 346px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 10px -4px #7280a7;
}

.proceed {
  color: #f5f7ff;
  color: hsl(225, 100%, 98%);
  margin: auto;
  line-height: 50px;
}
